.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.custom-card {
  padding: 2rem;
  border-radius: 20px;
  width: 600px;
  background: white;
}

.menu-button {
  width: 520px;
  height: 63px;

  background-image: url('assets/button1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  border-radius: 10px;

  color: white;
  cursor: pointer;
}
