.home-container {
  background-image: url('assets/Homepage.png');
background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  padding: 2rem;
  border-radius: 20px;
  width: 600px;
  background: white;
}

.menu-button {
  width: 520px;
  height: 63px;

  background-image: url('assets/button1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  border-radius: 10px;

  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.menu-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 20%,
    rgba(255, 255, 255, 0.4),
    transparent 80%
  );
  opacity: 0;
  animation: glitchFlash 0.6s ease;
}

@keyframes glitchFlash {
  0% { opacity: 0; }
  20% { opacity: 1; }
  40% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}